.createButton {
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bannerItem {
    box-sizing: border-box;
    $fontSize: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .title {
        font-size: $fontSize;
    }

    .actions {
        i {
            transition: .2s;
            cursor: pointer;
            font-size: 18px;
            color: orange;
            padding: 10px;
            border-radius: 50%;

            &:first-child { margin-right: 20px; }
            &:hover { background-color: rgba(0, 0, 0, .2); }
        }
    }
}