.createButton {
    float: right;
    cursor: pointer;
    border: 1px solid orange;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: orange;

    i {
        color: orange;
        position: relative;
        font-size: 20px;
        margin-right: 10px;
    }

    transition: .5s !important;

    &:hover {
        color: white;
        background-color: orange;
        i {
            color: white;
        }
    }
}

.mainButton {
    width: 100%;
    margin-bottom: 10px;
}

.bannerItem {
    box-sizing: border-box;
    $fontSize: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

    &:first-child {
        padding-top: 20px;
    }

    .title {
        font-size: $fontSize;
    }

    .actions {
        i {
            transition: .2s;
            cursor: pointer;
            font-size: 18px;
            color: orange;
            padding: 10px;
            border-radius: 50%;

            &:first-child { margin-right: 20px; }
            &:last-child { margin-right: 10px; }
            &:hover { background-color: rgba(0, 0, 0, .2); }
        }
    }
}